<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formular-cadastro">
                <span>Crie a sua conta!</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Nome" required="required">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Nick" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha"
                        required="required">
                </div>
                <button type="submit" class="btn-devbook">Cadastrar</button>
                <a href="/login">Fazer Login</a>
            </form>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>

</html>